<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-4 p-4 rounded-4 shadow bg-white">

        <h2 class="text-center mb-3 text-primary">Ingreso al sistema</h2>
        <p class="text-center text-muted mb-4">Ingresa con tu usuario y clave</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="email" class="form-label">Usuario o Correo Electrónico</label>
            <input type="text" id="email" formControlName="email" class="form-control" placeholder="Ingrese su usuario o correo">
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger mt-1">
              <small *ngIf="loginForm.get('email')?.errors?.['required']">El email es obligatorio.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Ingrese su clave">
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger mt-1">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100 mt-2">Ingresar</button>

          <div class="text-center mt-3">
            <small>¿No tienes cuenta? <a routerLink="/register" class="text-decoration-none">Regístrate aquí</a></small>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>